@import url("footer.css");

*,
* ::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
  scroll-behavior: smooth;
}

.background {
  position: relative;
  background-image: url('assets/web_background.png');
  background-size: cover;
  height: 120vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo{
  width: 7vw;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.logo-link{
  margin-left: 2%;
  margin-top: 1%;

}

.navbar__buttons{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15vw;
  font-weight: bolder;
  margin-right: 18vw;
}

.navbar__home, .navbar__about, .navbar__contact {
  text-decoration: none;
  font-size: 120%;
  font-family: 'Trebuchet MS', sans-serif;
  color: #01270f;
  margin: 0 1vw;
}

.search{
  display: flex;
  align-items: center;
  padding: 5%;
  border-radius: 15px;
  background: #f6f6f6;
}

.search__input{
  font-size: 80%;
  font-family: 'Trebuchet MS', sans-serif;
  color: #333333;
  margin-left: 5%;
  outline: none;
  border: none;
  background: transparent;
}


.profile {
  padding: 10px;
  margin-left: 1vw;
  cursor: pointer;
}

.profile:active,
.profile:focus {
  background-color: transparent;
  color: inherit; 
  border: none; 
  outline: none; 
}

main {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  width: 100%;
  background-color: #fefef3;
}

.top-section {
  display: flex;  
  justify-content: space-between;
  width: 100%; 
  background-color: #fefef3;
}

.body
{
  display:flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.report{
  background: rgb(255,255,255);
  width: 20vw;
  height: 60vh;
  border: 1px solid #888;
  border-radius: 8px;
  box-shadow: -4px 4px 12px 0px rgba(107,107,107,0.51);  
  padding : 2%;
  margin-left : 17%;
  margin-bottom: 2%;
}

.report__image{
  width:100%;
  height:auto;
}

a.report__button {
  text-decoration: none;
}

.report__button button {
  width:10vw;
  height: auto;
  font-size: 1.5em;
  font-family: 'Trebuchet MS', sans-serif;
  color: #333333;
  margin-top: 20%;
  background: #f6f6f6;
  border: 2px solid #888;
  border-radius: 50px;
  padding: 2%;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}


.report__button:hover button{
  background: #15202C;
  color: white;
  transition: 0.5s;
  cursor: pointer;
  border: none;
}

.stats{
  background: rgb(255,255,255);
  width: 20vw;
  height: 60vh;
  border: 1px solid #888;
  border-radius: 8px;
  box-shadow: -4px 4px 12px 0px rgba(107,107,107,0.51);
  padding : 2%;
  margin-right : 17%;
  margin-bottom: 2%;
}

.stats__image{
  width:100%;
  height:auto;
}

a.stats__button{
  text-decoration: none;
}

.stats__button button{
  width:10vw;
  height: auto;
  font-size: 1.5em;
  font-family: 'Trebuchet MS', sans-serif;
  color: #333333;
  margin-top: 20%;
  background: #f6f6f6;
  border: 2px solid #888;
  border-radius: 50px;
  padding: 2%;
  display: block; 
  margin-left: auto;
  margin-right: auto; 
}

.stats__button:hover button{
  background: #15202C;
  color: white;
  transition: 0.5s;
  cursor: pointer;
  border: none;
}

.pop-up {
  display: block; 
  position: absolute;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  font-family: 'Trebuchet MS', sans-serif;
  padding: 15px;
  border-radius: 10px;
  z-index: 100; 
  top: 120%; 
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; 
  visibility: hidden; 
  transition: 0.4s; 
}

.report:hover .pop-up,
.stats:hover .pop-up {
  opacity: 1; 
  visibility: visible;
  transition:  0.5s; 
}

.report .pop-up,
.stats .pop-up {
  transition: opacity 0.5s ease, visibility 0s; 
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fefef3;
  padding-bottom: 12vh;
}

.rss_feed {
  width: 40vw; 
  height: 40vh; 
  overflow-y: scroll;
  font-family:'Verdana', sans-serif;
  border: 1px solid #888;
  border-radius: 8px;
  box-sizing: border-box;
  background: rgb(255,255,255);
  border: 1px solid #888;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
  padding : 2%;
  margin: 2% 0% 2% 5%;
  max-height: 60vh; 
  overflow-y: auto;
}

.tips-and-tricks{
  width: 40vw; 
  height: 40vh; 
  overflow-y: scroll; 
  font-family:'Verdana', sans-serif;
  border: 1px solid #888;
  border-radius: 8px;
  box-sizing: border-box;
  background: rgb(255,255,255);
  border: 1px solid #888;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
  padding : 2%;
  margin: 2% 5% 2% 0%;
  max-height: 60vh; 
  overflow-y: auto;
}

.material-symbols-outlined {
  color: #01270F; 
}

::-webkit-scrollbar {
  width: 0.5vw; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}